html,
body,
main {
  margin: 0;
  padding: 0;
  width: calc(100vw - env(safe-area-inset-left) - env(safe-area-inset-right));
  height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  background-color: black;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

* {
  color: white;
}
#imgPaghjella {
  top: 7vh;
  opacity: 0;
}
/*------ IMG rgb ------*/
img {
  position: fixed;
  mix-blend-mode: screen;
  width: 350px;
}
/* green */
#imgGreen {
  top: -100%;
}
.animImgGreen {
  animation: imgGreen 2s;
  animation-fill-mode: forwards; /* block animation */
}
@keyframes imgGreen {
  0% {
    top: -100%;
  }
  100% {
    top: calc(
      50% - 315px - env(safe-area-inset-top) - env(safe-area-inset-bottom)
    );
  }
}

/* blue */
#imgBlue {
  right: -150vw;
  bottom: calc(50vh - 230px - env(safe-area-inset-bottom));
}
.animImgBlue {
  animation: imgBlue 2s;
  animation-fill-mode: forwards; /* block animation */
}
@keyframes imgBlue {
  0% {
    right: -150vw;
    bottom: -100vh;
  }
  100% {
    right: calc(50vw - 260px - env(safe-area-inset-right));
    bottom: calc(50vh - 235px - env(safe-area-inset-bottom));
  }
}

/* red */
#imgRed {
  left: -150vw;
  bottom: calc(50vh - 230px - env(safe-area-inset-bottom));
}
.animImgRed {
  animation: imgRed 2s;
  animation-fill-mode: forwards; /* block animation */
}

@keyframes imgRed {
  0% {
    left: -150vw;
    bottom: -100vh;
  }
  100% {
    left: calc(50vw - 260px - env(safe-area-inset-left));
    bottom: calc(50vh - 230px - env(safe-area-inset-bottom));
  }
}
/*------ CIRCLE WHITE ------*/
#circleWhite {
  position: fixed;
  z-index: 10;
  background-color: rgba(255, 255, 255, 1);
  opacity: 0.4;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.animCircleWhite {
  animation: circle 2s;
  animation-fill-mode: forwards; /* block animation */
}

@keyframes circle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(40);
  }
  100% {
    transform: scale(1);
  }
}

.animPaghjella {
  animation: paghjella 5s;
  animation-fill-mode: forwards; /* block animation */
}
@keyframes paghjella {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animCircleWhitePaghjella {
  animation: animCircleWhitePaghjella 5s;
  animation-fill-mode: forwards; /* block animation */
}
@keyframes animCircleWhitePaghjella {
  0% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}

p {
  position: fixed;
  z-index: 10;
  font-size: calc(0.2vw + 1.5vh);
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  width: 30vw;
  top: 80vh;
  color: white;
  opacity: 0;
}

.animP {
  animation: p 5s;
  animation-fill-mode: forwards; /* block animation */
}
@keyframes p {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
/* mediaquery orientation portrait main display none */
@media (orientation: portrait) {
  main {
    display: none;
  }
  #mobile {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  #mobile h1 {
    margin: 0%;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(2vw + vh);
  }
  #mobile h1 span {
    margin: 0%;
    font-size: 0.5em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

}

@media (orientation: landscape) {
  #mobile {
    display: none;
  }
}
